@import './utils/_variables.scss';
@import './utils/_mixins.scss';

.nav_bar{
    position: fixed;
    top: 0;
    height: 57px;
    z-index: 3;
    width: 100%;
    background-color: white;
    @include flex(row,space-between, center);
    
   
} 
.nav_logo{
    width: 150px ;
    height: 61px;
}
.nav_link{
    color: $color-secondary;
    font-weight: bold;
    padding: 0 0.5rem;
   }
.nav_burger{
        display: none;
    }
    .hidden{
        @include flex(row);              
    }
    .nav_links {
        @include flex(row);
    }
    .nav_item{
         list-style: none;
    }

    @media  screen and  ( max-width:767px) {
        .nav_links {
            @include flex(row);
            flex-direction: column;
            justify-content: center;
            position: fixed;
            right: -100vw;
            bottom: 0;
            visibility: hidden;
            height: 100vh;
            background-color: $color-quaternary;
            
        }
       .show_nav .nav_links{
        right: 0;
        width: 100%;
        visibility: visible;
       }
        .nav_link {
            display: block;
            padding: 1.5rem;
            font-size: 5vw;
        }
        .nav_burger{
            display: flex;
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 3em;
        }
        .nav_burger:hover{
            background: none;
            cursor: pointer;
        }
        .burger-bar, .burger-bar::before, .burger-bar::after {
            display: block;
            width:40px;
            height: 4px;
            position: relative;
            border-radius: 3px;
            
            background-color: #000;
            transition: all 0.3s ease-in-out;
          }
          .burger-bar::before, .burger-bar::after{
            content: "";
            position:absolute;
            left: 0;
          }
          .burger-bar::before{
            transform: translateY(-12px);
          }
          .burger-bar::after{
            transform: translateY(12px);
          }

          .show_nav .burger-bar{
            
            background: transparent;
          }
          .show_nav .burger-bar::before{
            transform: rotate(45deg);
          }
          .show_nav .burger-bar::after{
            transform: rotate(-45deg);
          }
    }